
/*.theme-dark {
	--text-highlight-bg: #A13089;
	--text-highlight-bg: #ff5582a6;
}*/

/*.cm-s-obsidian span.cm-highlight, */.markdown-rendered mark {
    color: #131313;
    padding: 3px 10px;
    border-radius: 20px 5px 20px 5px;

    &:not(:has(.math-inline)) {
	    padding: 3px 5px;
    }
}

.hltr-green {
	background-color: #4CD534 !important;
}
